<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AI Module Name" value="StrategoMMXVI.AIModule"/><!--Put your module name here. Make sure to put the full name including parents-->
    <add key ="AI Main Method" value ="Main"/><!--Put the method you want the GUI to call when it is the AI's turn. You must return a move.-->
    <add key ="AI Placing Method" value="GetPlacement"/><!--Put the method you want the GUI to call at the start of the game. You must return a 10 by 4 array of boardpiece.-->
    <add key ="AI Endgame Analysis" value="EndGameAnalysis"/><!--Put the method for end game analysis here. Put null if you don't have this method in your AI.-->
  </appSettings >
</configuration>
